#site-banner{
  background-color: #d36c00;
  border-radius: 6px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  height: 31px;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  background: #0e1117;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.text{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #ffffff;
}

.sociallinks{
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.scrollable{
  overflow-y: auto;
}

.table-center {
  margin-left: auto;
  margin-right: auto;
}

#version-title-currentver{
  background-color: #ff4040;
  border-radius: 6px;
  width: 110%;
}

#version-title-latestver{
  background-color: #4076ff;
  border-radius: 6px;
  width: 110%;
}

img{
  border-radius: 8px;
  box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 50%;
}

h1{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 44px;
}

h2{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 38px;
}

hr{
  width:80%;
  height:2px;
  border-width:0;
  color:#161616;
  background-color:#161616;
}

a{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color:#a6b3ff;
  text-decoration: none;
}

th{
  padding: 4px;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  color: #ffffff;
}

i{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #ffffff;
}

/* Hide scrollbar */


html{
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/* End hide scrollbar */

#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0
}
