.menu{
  box-shadow: 0 0 48px 48px rgba(0, 0, 0, 0.1);
  background: #202124;
}

li{
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  color: #ffffff;
  background: #202124;
}

#logo-small{
  position: fixed;
  left: 94.5%;
}

.message {
  font-family: "Rubik", sans-serif;
  background: #6cc27d;
  padding: 1em 2em;
  text-align: center;
  color: #fff;
  bottom: 0px;
  position: fixed;
  left: 0px;
  display: none;
  font-weight: bold;
  vertical-align: bottom;
  font-family: monospace;
  z-index: 1;
}
